*,
*::after,
*::before {
	box-sizing: border-box;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
	padding: 0 2.4rem;

	@include widescreen {
		padding: 0;
	}
}

.list {
	list-style: none;
	padding-left: 0;
}

.grid {
	display: grid;
}

.grid--col-2 {
	@include desktop {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid--col-4 {
	gap: 24px;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include widescreen {
		grid-template-columns: repeat(4, minmax(256px, 1fr));
	}
}

.btn {
	border: 1px solid #000;
	font-family: 'Alata', sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 1.3rem 3.8rem;
	text-decoration: none;
	color: #000;
	transition: background 0.3s, color 0.3s;
}

.btn:hover {
	background: #000;
	color: #fff;
}
