html {
	font-size: 62.5%;
}

body {
	color: $text-color;
	font-family: 'Alata', sans-serif;
	font-size: 1.5rem;
}

h2,
h3 {
	color: $headings-color;
	font-family: 'Joesefin Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 4rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 100;

	@include desktop {
		font-size: 7.2rem;
	}
}

a {
	font-family: 'Alata', sans-serif;
}
